
.or{
	width:35%;
	height:100%;
	margin-top:2%;
	box-shadow: 1px 1px 1px 2px  gray;
}
.sub{
	padding-top: 20%;
	text-align: right;
	padding-right: 5%;
}
.total{

	text-align: right;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
}
.price{
	text-align: right;
	padding-top: 10%;
	padding-left: 5%;
}