
#tb1{
width: 50%; height: 300px; overflow: auto;  display:block; width: 100%;border-top-color: white;

}

#tb2{
	width: 50%; height: 300px; overflow: auto;  display:block; width: 100%; border-top-color: white;
}

#tb3{
width: 50%; height: 300px; overflow: auto;  display:block; width: 100%;  border-top-color: white padding-top: 2%; border-top-color: white;

}
#tb4{
width:50% ; padding-top:5.5%; height: 300px; overflow: auto;  display:block; width: 100%;  border-top-color: white;

}

#back{

	height: 20px; width: 20px; margin-top: 50px
}

